extends app

block intro
    form.namecard.form(action='/hello' method='post')
        label.namecard-prompt What are you called? <br> Ezhinikaazoyan?
            input.namecard-name(type='text' name='username')
        button.namecard-submit(type='submit') Submit
